<link rel="stylesheet" href="/4.2_composicao/public/css/principal.css">

<footer>
    <div class="social">
      <a href="#"><span><i class='bx bxl-instagram'></i></span></a>
      <a href="#"><span><i class='bx bxl-github' ></i></span></a>
    </div>
  </footer>