<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/pag.css">
    <title>Jogos amistosos</title>
</head>
<body>

<!-- header -->
    <header>
        <div class="icone">
            <span class="icone1" onclick="openNav()">&#9776;</span>
        </div>
            
    </div>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="http://localhost:4000/primeirafofoca">Extensão nova</a>
          <a href="http://localhost:4000/segundafofoca">TECSESP</a>
          <a href="http://localhost:4000/terceirafofoca">Eventos de junho</a><br>
          <a href="http://localhost:4000/quartafofoca">Jogos amistosos</a><br>
          <a href="http://localhost:4000/quintafofoca">SPF</a><br>
        </div>
    </div>
    <ul>
        <li><a href="index.html" class="ativo">Home</a></li>
        <li><a href="#not">Notícias populares</a></li>
        <li><a href="#outra">Outras notícias</a></li>
    </ul>
</header>



<!-- main -->
<main>
   
    


    <div id="secao" class="sec">
        
        <h2>Jogos amistosos da ETEC CT</h2>
        <p>
   
Os jogos amistosos de futebol entre os cursos de Data Science (DS), Administração (ADM), Química, Recursos Humanos (RH) e Informática na nossa escola foram emocionantes e demonstraram o espírito competitivo e a camaradagem entre os estudantes de diferentes áreas.
<br><br>
No confronto entre os times de Data Science e Administração, vimos uma partida acirrada, com jogadas estratégicas e habilidades técnicas em destaque. No final, o time de Data Science mostrou sua força, garantindo a vitória com uma performance impressionante.
<br><br>
O embate entre os representantes do curso de Química e Recursos Humanos foi marcado pela determinação e pela garra de ambos os times. Os jogadores demonstraram habilidades táticas e resistência física ao longo do jogo. No entanto, o time de Química conseguiu capitalizar suas oportunidades e saiu vitorioso.
</p>

        <img src="/public/img/quadra.jfif" alt="" height="400px" width="600px">

        <p>
            No confronto entre os times de Recursos Humanos e Informática, testemunhamos um jogo emocionante, com muitos momentos de suspense e reviravoltas. Ambas as equipes demonstraram grande habilidade técnica e determinação, mas no final, o time de Informática se destacou, garantindo a vitória com uma atuação impressionante.
            <br><br>
            Por fim, o confronto entre os times de Administração e Química foi um verdadeiro duelo de titãs. Ambas as equipes lutaram arduamente, mostrando um grande domínio do jogo e uma forte determinação em campo. No entanto, o time de Administração conseguiu impor sua estratégia e saiu vitorioso.
            <br><br>
            Em suma, os jogos amistosos de futebol entre os cursos da nossa escola foram uma oportunidade fantástica para os estudantes mostrarem suas habilidades esportivas, promoverem o espírito de equipe e fortalecerem os laços de amizade entre os diferentes cursos. Que venham mais competições como essa no futuro!
            
            
        </p>
<br><br>
            <div class="article-info">
                <div class="author-info">
                    <img src="/public/img/foto4.jfif" alt="Foto do Autor" class="author-photo">
                    <p class="author-name">Talita Pereira</p>
                </div>
                <p class="publish-date">Data de Publicação: 11 de dezembro de 2020</p>
            </div>
        </div>
</main>






<!-- footer -->
<footer>
    <div class="social">
      <a href="#"><span><i class='bx bxl-instagram'></i></span></a>
      <a href="#"><span><i class='bx bxl-github' ></i></span></a>
    </div>
  </footer>

</body>
</html>



<script>
    //menu responsivo
function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }


</script>