<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/pag.css">
    <title>SPF</title>
</head>
<body>

<!-- header -->
    <header>
        <div class="icone">
            <span class="icone1" onclick="openNav()">&#9776;</span>
        </div>
            
    </div>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="http://localhost:4000/primeirafofoca">Extensão nova</a>
          <a href="http://localhost:4000/segundafofoca">TECSESP</a>
          <a href="http://localhost:4000/terceirafofoca">Eventos de junho</a><br>
          <a href="http://localhost:4000/quartafofoca">Jogos amistosos</a><br>
          <a href="http://localhost:4000/quintafofoca">SPF</a><br>
        </div>
    </div>
    <ul>
        <li><a href="index.html" class="ativo">Home</a></li>
        <li><a href="#not">Notícias populares</a></li>
        <li><a href="#outra">Outras notícias</a></li>
    </ul>
</header>



<!-- main -->
<main>
   
    


    <div id="secao" class="sec">
        
        <h2>Desacertos da Semana Paulo Freire</h2>
        <p>
            A Semana Paulo Freire (SPF) é sempre aguardada com grande expectativa pelos alunos da nossa escola técnica. É um momento de celebração do conhecimento, da criatividade e da colaboração entre as diferentes salas. No entanto, este ano, uma competição entre as salas trouxe à tona alguns desafios inesperados.
            <br><br>
            A competição foi idealizada como uma oportunidade para os alunos demonstrarem suas habilidades em diversas áreas, desde o conhecimento técnico até a expressão artística. Cada sala estava ansiosa para mostrar seu potencial e conquistar o reconhecimento da comunidade escolar.
            <br><br>
            No entanto, logo no início, surgiram problemas de parcialidade por parte de alguns professores, que favoreciam suas salas preferidas. Isso gerou um clima de descontentamento entre os alunos, que se sentiram injustiçados e desmotivados.
            </p>

        <img src="/public/img/teatropagina5.jpg" alt="" height="400px" width="600px">

        <p>
            Além disso, a coordenação da competição deixou a desejar, com uma administração mal organizada que priorizava os alunos favoritos para treinarem e terem mais tempo para se apresentarem. Isso gerou uma sensação de desigualdade entre as salas e minou o espírito de fair play que deveria permear o evento.
            <br><br>
            Apesar dos obstáculos, muitas salas persistiram e se esforçaram para dar o seu melhor. Houve momentos de brilho e criatividade durante as apresentações, com destaque para o talento e dedicação de diversos alunos.
            <br><br>
            No final, apesar dos contratempos, a competição serviu como uma lição sobre a importância da imparcialidade, da transparência e da equidade em qualquer evento escolar. Espera-se que no próximo ano, a Semana Paulo Freire seja conduzida de forma mais justa e inclusiva, para que todos os alunos tenham a oportunidade de brilhar e se sentir valorizados. 
            
            </p>
<br><br>
            <div class="article-info">
                <div class="author-info">
                    <img src="/public/img/foto5.jfif" alt="Foto do Autor" class="author-photo">
                    <p class="author-name">Geovana Costa</p>
                </div>
                <p class="publish-date">Data de Publicação: 1 de junho de 2024</p>
            </div>
        </div>
</main>






<!-- footer -->
<footer>
    <div class="social">
      <a href="#"><span><i class='bx bxl-instagram'></i></span></a>
      <a href="#"><span><i class='bx bxl-github' ></i></span></a>
    </div>
  </footer>

</body>
</html>



<script>
    //menu responsivo
function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }


</script>