<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/pag.css">
    <title>Eventos de junho</title>
</head>
<body>

<!-- header -->
    <header>
        <div class="icone">
            <span class="icone1" onclick="openNav()">&#9776;</span>
        </div>
            
    </div>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <a href="http://localhost:4000/primeirafofoca">Extensão nova</a>
          <a href="http://localhost:4000/segundafofoca">TECSESP</a>
          <a href="http://localhost:4000/terceirafofoca">Eventos de junho</a><br>
          <a href="http://localhost:4000/quartafofoca">Jogos amistosos</a><br>
          <a href="http://localhost:4000/quintafofoca">SPF</a><br>
        </div>
    </div>
    <ul>
        <li><a href="index.html" class="ativo">Home</a></li>
        <li><a href="#not">Notícias populares</a></li>
        <li><a href="#outra">Outras notícias</a></li>
    </ul>
</header>



<!-- main -->
<main>
   
    


    <div id="secao" class="sec">
        
        <h2>Eventos de junho na ETEC CT</h2>
        <p>
           
Com a chegada do mês de junho, a Escola Técnica Estadual (ETEC) CT está repleta de expectativas e atividades emocionantes para os alunos, professores e toda a comunidade escolar. Este mês, além das aulas regulares e atividades curriculares, a ETEC CT está preparando uma série de eventos especiais para enriquecer a experiência educacional e promover o engajamento dos estudantes.
<br><br>
Uma das principais atividades planejadas para este mês é a Feira de Ciências, um evento anual que destaca o talento e a criatividade dos alunos em projetos científicos inovadores. Neste ano, os estudantes da ETEC CT apresentarão uma variedade de projetos nas áreas de biologia, física, química, tecnologia e muito mais. A feira proporciona uma oportunidade única para os alunos demonstrarem suas habilidades de pesquisa, experimentação e comunicação, além de estimular o interesse pela ciência e pela tecnologia.
</p>

        <img src="/public/img/eventospagina3.jfif" alt="" height="400px" width="600px">

        <p>
            Além da Feira de Ciências, a ETEC CT também está organizando uma série de palestras e workshops com profissionais renomados em diversas áreas do conhecimento. Essas atividades têm como objetivo enriquecer o aprendizado dos alunos, fornecendo insights valiosos sobre as tendências e oportunidades no mercado de trabalho, além de inspirar futuras carreiras e projetos acadêmicos.
            <br><br>
            Outro destaque do mês de junho na ETEC CT é o torneio esportivo interclasses, uma competição saudável que promove o espírito de equipe, a disciplina e a atividade física entre os estudantes. Os alunos terão a oportunidade de participar de uma variedade de modalidades esportivas, incluindo futebol, basquete, vôlei e muito mais, demonstrando suas habilidades atléticas e competindo pelo orgulho de representar suas turmas.
            <br><br>
            Além desses eventos, a ETEC CT continuará oferecendo suporte acadêmico e orientação profissional aos alunos, preparando-os para os desafios futuros e capacitando-os a alcançar seus objetivos pessoais e profissionais. Com uma programação diversificada e envolvente, o mês de junho promete ser repleto de aprendizado, diversão e realização na ETEC CT.
            
            
        </p>
<br><br>
            <div class="article-info">
                <div class="author-info">
                    <img src="/public/img/foto3.jfif" alt="Foto do Autor" class="author-photo">
                    <p class="author-name">Alice Maia</p>
                </div>
                <p class="publish-date">Data de Publicação: 10 de dezembro de 2022</p>
            </div>
        </div>
</main>






<!-- footer -->
<footer>
    <div class="social">
      <a href="#"><span><i class='bx bxl-instagram'></i></span></a>
      <a href="#"><span><i class='bx bxl-github' ></i></span></a>
    </div>
  </footer>

</body>
</html>



<script>
    //menu responsivo
function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }


</script>